# Ignorowanie katalogu node_modules
node_modules/

# Ignorowanie katalogów natywnych
ios/
android/

# Ignorowanie plików konfiguracyjnych specyficznych dla dewelopera
.expo/
.expo-shared/

# Ignorowanie plików systemowych
.DS_Store
Thumbs.db

# Ignorowanie plików cache
*.log
npm-debug.log
yarn-error.log

# Ignorowanie plików wersji GIT
.git/
.gitmodules